.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
  color: #414a4f;
}

.about-page p {
  max-width: 500px;
  line-height: 2;
  margin-bottom: 35px;
}

.about-page h2 {
  text-transform: capitalize;
  margin-bottom: 35px;
}
.about-page hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin-bottom: 80px;
}

/* Slider */
.sl_ctr {
  position: relative;
  width: 128vh;
  height: 72vh;
  overflow: hidden;
  border: 2px solid #2196f3;
}

.sldr {
  position: relative;
  width: 10000px;
  height: 72vh;
}

.sldr img {
  float: left;
  width: 128vh;
  height: 72vh;
}

.prv_b,
.nxt_b {
  position: absolute;
  top: 36vh;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  opacity: 0.5;
}

.prv_b:hover,
.nxt_b:hover {
  opacity: 0.8;
}

.prv_b {
  left: 10px;
  background: url('/images/prv.png') no-repeat;
}

.nxt_b {
  right: 10px;
  background: url('/images/nxt.png') no-repeat;
}

.flex-container {
  display: flex; /* Флексы */
  height: 300px; /* Высота */
  width:100%;
  color: #fff; /* Белый цвет текста */
  font-size: 2.6em; /* Размер шрифта */
  flex-flow: column wrap; /* Располагаем в виде колонок */
}
.flex-item {
  display: flex; /* Флексы */
  align-items: center; /* Выравнивание текста по вертикали */
  justify-content: center; /* Выравнивание текста по горизонтали */
}
.one {
  background: #508694; /* Цвет фона */
  margin-right: 10px; /* Отступ справа */
  flex-basis: 100%;
  order: 1; /* Первый блок */
}
.two {
  background: #bb844c; /* Цвет фона */
  margin-bottom: 10px; /* Отступ снизу */
  flex: 1 1 0;
  order: 2; /* Второй блок */
}
.three {
  background: #929d79; /* Цвет фона */
  flex: 1 1 0;
  order: 3; /* Третий блок */
}
