/* .navigation {
    position: relative;
    top: -100vh;
    margin: 0 auto;
    margin-top: 4vh;
  }

  ul {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
  }

  ul li {
    display: inline;
    text-align: center;
  }

  a {
    display: inline-block;
    width: 25%;
    padding: 15px 20px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.9;
  }

  a:hover{
    opacity: 1;
  }

  .two:hover ~ hr {
    margin-left: 25%;
  }

  .three:hover ~ hr {
    margin-left: 50%;
  }

  .four:hover ~ hr {
    margin-left: 75%;
  }

  .navigation hr {
    height: 0.25rem;
    width: 25%;
    margin: 0;
    background: #fff;
    border: none;
    transition: 0.5s ease-in-out;
  }

  .logo_header {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 25px;
    } */

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

header h2 img {
  width: 150px;
  height: auto;
}

header nav:not(.home) {
  color: #000;
}

.nav_toggle {
  display: none;
}

@media (max-width: 1024px) {
  .nav_toggle {
    display: block;
  }

  header nav li {
    display: none;
  }

  header nav .active {
    display: block;
  }
}