.navigation {
    background-color: #333;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.navigation li {
	display: inline-block;
}

.navigation li:hover {
    background-color: #666;
}

.navigation a {
	display: inline-block;
    padding: 15px 20px;
    color: #fff;

    text-decoration: none;
    text-transform: uppercase;
}