.works h2 {
  margin-top: 20vh;
  text-align: center;
  color: #414a4f;
  text-transform: capitalize;
  margin-bottom: 35px;
}

@media (max-width: 320px) {
  .works h2 {
    margin-top: 0;
  }
}

.works p {
  text-align: center;
  margin-top: 15px;
  max-width: 500px;
  margin-bottom: 35px;
  line-height: 2;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin-bottom: 80px;
}

/* Hover IMG */

.videos__item {
  /*transform: translate(-50%,-50%);*/
  position: relative;
  width: 320px;
  height: 200px;
  overflow: hidden;
}

.videos__item .imgBx,
.videos__item .details {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 1.2s;
}

.videos__item .imgBx {
  top: 0;
  left: 0;
}

.videos__item:hover .imgBx {
  position: relative;
  top: 0;
  left: -100%;
}

.videos__item:hover .details {
  position: absolute;
}

.videos__item .imgBx img {
  width: 100%;
}

.videos__item .details {
  background: #262626;
  top: 0;
  left: 100%;
  padding: 20px 10px;
}

.videos__item:hover .details {
  top: 0;
  left: 0%;
}

.videos__item .details h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}
.videos__item .details p {
  margin: 20px 0 0;
  color: #fff;
  font-size: 12px;
}

/* Videos wrapper */

.videos__wrapper,
.videos__wrapper2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8vh;
}

.videos__wrapper2 {
  margin-bottom: 8vh;
}

.videos__wrapper .videos__item,
.videos__wrapper2 .videos__item {
  width: 320px;
  height: 199px;
  margin: 1vh 5vh;
  transition: 1s all;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.videos__wrapper .videos__item img,
.videos__wrapper2 .videos__item img {
  width: 100%;
}

.videos__wrapper .videos__item-active,
.videos__wrapper2 .videos__item-active {
  transform: translateY(50px);
}

@media (max-width: 420px) {
  .videos__wrapper .videos__item,
  .videos__wrapper2 .videos__item {
    margin: 1vh 0;
  }
}

@media (max-width: 1202px) {
  .videos__wrapper2 {
    margin-top: 0;
  }
}

.more {
  display: block;
  width: 180px;
  height: 40px;
  margin: 50px 0 !important;
  margin: 0 auto;
  border: none;
  outline: 0;
  cursor: pointer;
  background-color: #2196F3;
  opacity: .5;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.more:hover {
  opacity: .9;
}

.more:focus {
  outline: 0;
}